.App {
  text-align: center;
}
.black-nav {
	background: #000;
	width: 100%;
	padding: 20px;
	color: #fff;
	display: flex;
	justify-content: center;
}
div {
	box-sizing: border-box;
}
.list {
	text-align: left;
	padding-left: 20px;
	border-bottom: 1px solid #ccc;
}
.list span {
	cursor: pointer;
}
.list button {
	margin-bottom: 20px;
}
.modal {
	margin-top: 20px;
	padding: 20px;
	background: #eee;
	text-align: left;
}
.input {
	text-align: left;
	padding-left: 20px;
}